<%- include("../../partials/admin_header") %>
<%- include("../../partials/admin_sidebar") %>
<!-- partial -->
<div class="main-panel">
    <%- include("../../partials/alerts") %>
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                Password
            </h3>
            <%- include("../../partials/breadcrumb") %>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <form class="forms-sample" method="POST" action="/password">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Current Password</label>
                                <input type="password" class="form-control" id="exampleInputUsername1" placeholder="Current Password"
                                    name="oldPassword" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">New Password</label>
                                <input type="password" class="form-control" id="exampleInputEmail1" placeholder="New Password"
                                    name="password" required>
                                </div>
                            <div class="form-group">
                                <label for="exampleInputPhone1">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputPhone" placeholder="Confirm Password"
                                    name="confirmPassord" required>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12  d-flex align-items-center justify-content-center">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button type="submit" class="btn btn-outline-dark btn-block" 
                                        style="color: #fff; padding: 10px; background-color: #C17267;">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <%- include("../../partials/footer") %>