<%- include("../../partials/admin_header") %>
<%- include("../../partials/admin_sidebar") %>
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                Dashboard
            </h3>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Role</th>
                                        <th>Date Registered</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%  for (let i = 0; i < users.length; i++ ) { %>
                                    <tr>
                                        <td><%= i+ 1 %></td>
                                        <td><%= users[i].name %></td>
                                        <td><%= users[i].email %></td>
                                        <td><%= users[i].phone %></td>
                                        <% if(users[i].role_id == '1') { %>
                                        <td>Admin</td>
                                        <% } else if(users[i].role_id == '2') { %>
                                        <td>Landlord</td>
                                        <% }  else if(users[i].role_id == '3') { %>
                                        <td>Tenant</td>
                                        <% }  else if(users[i].role_id == '4') { %>
                                        <td>Short Term Renters</td>
                                        <% }  else if(users[i].role_id == '5') { %>
                                        <td>Executive Feature Tenant</td>
                                        <% }  else { %>
                                        <td>No Role</td>
                                        <% } %>
                                        <td><%= users[i].createdAt %></td>
                                        <td>
                                            <a href="javascript:void(0);" class="btn btn-outline-danger" onclick="event.preventDefault(); 
                                            document.getElementById('delete-menu').submit();">Restore</a>
                                            <form id="delete-menu" action="/deletedusers" method="POST"
                                                style="display: none;">
                                                <input type="hidden" name="id" value="<%= users[i].id %>">
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%- include("../../partials/footer") %>